*{
    padding:0%;
    margin:0%;
    box-sizing: border-box;
    
}

main{
    height:100vh;
    width:100vw;
    display:flex;
    border: 3px solid black;
    
}
.left{
    height:100%;
    width: 50%;
    background-color: blue;
    background-image: url(https://cdn.sanity.io/images/qa41whrn/prod/4589f6e9504dfd2f6e16e5cd5beee32e093153b6-2083x2708.jpg);
    background-size: cover;
    border: 3px solid black;

}
.right{
    height: 100%;
    width: 50%;
    background-color: brown;
    background-image: url(https://cdn.sanity.io/images/qa41whrn/prod/7b6372688e159338262af1f969d4e298769efab9-2083x2708.jpg);
    background-size: cover;
    /* rotate: 45deg; */
    border: 3px solid black;

}
